<launch>

  <node pkg="distributed-planning" type="agent-dmarrt" name="agent" args="$(find distributed-planning)/data/$(arg lunar_env)" />
  <node pkg="distributed-planning" type="agent-dmarrt" name="agent" args="$(find distributed-planning)/data/$(arg lunar_env)" />
  <node pkg="distributed-planning" type="agent-dmarrt" name="agent" args="$(find distributed-planning)/data/$(arg lunar_env)" />
  <node pkg="distributed-planning" type="agent-dmarrt" name="agent" args="$(find distributed-planning)/data/$(arg lunar_env)" />
  <node pkg="distributed-planning" type="agent-dmarrt" name="agent" args="$(find distributed-planning)/data/$(arg lunar_env) --has-token" />

</launch>
